/* Module SEO by Jérôme Brechoire */

/*Affichage Google des meta données*/
.preview-title-seo{
    color: #1a0dab;
    font-size: 18px;
}

.url{
    color: #006621;
    font-style: normal;
}

.preview-description-seo{
    color: #545454;
    line-height: 1.4;
    word-wrap: break-word;
}