{% extends 'adminbase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/assets/pages/css/seo.css') }}">
{% endblock %}

{% block title %} Ajout d'un fabricant {% endblock %}

{% block patetitle %} Ajout d'un fabricant {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold font-grey-gallery uppercase"> Formulaire d'ajout d'un fabricant </span>
                        <span class="caption-helper">RSI, Aegis...</span>
                    </div>
                    <div class="tools">
                        <a href="" class="fullscreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#tab_2_1" data-toggle="tab" aria-expanded="true"> Informations </a>
                        </li>
                        <li class="">
                            <a href="#tab_2_2" data-toggle="tab" aria-expanded="false"> Meta </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_2_1">

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                            <div class="form-group" id="name-manufacturer">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                                {% if not form.name.vars.valid %}
                                    {% for error in form.name.vars.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                                {% if not form.description.vars.valid %}
                                    {% for error in form.description.vars.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.image) }}
                                {{ form_widget(form.image) }}
                                {% if not form.image.vars.valid %}
                                    {% for error in form.image.vars.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <input type="submit" class="btn blue-hoki" value="Modifier">



                        </div>
                        <div class="tab-pane fade" id="tab_2_2">

                            <div class="row">
                                <div class="col-md-6">
                                    <h3>SEO Meta</h3>
                                    <div class="form-group">
                                        {{ form_label(form.metatitle) }}
                                        {{ form_widget(form.metatitle) }}
                                        {% if not form.metatitle.vars.valid %}
                                            {% for error in form.metatitle.vars.errors %}
                                                <div class="alert alert-danger alert-dismissable">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                    {{ error.message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="url-seo">URL Format</label>

                                            <div class="preview-url-slug"></div>

                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.metadescription) }}
                                        {{ form_widget(form.metadescription) }}
                                        {% if not form.metadescription.vars.valid %}
                                            {% for error in form.metadescription.vars.errors %}
                                                <div class="alert alert-danger alert-dismissable">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                    {{ error.message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>Résultat</h3>
                                    <div class="preview-title-seo"></div>
                                    <div class="url">
                                        http://monurl.com/fabricant/<span class="preview-url-slug"></span>
                                    </div>
                                    <div class="preview-description-seo"></div>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/assets/pages/scripts/app.js') }}"></script>
    <script src="{{ asset('admin/assets/pages/scripts/seo.js') }}"></script>
    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'manufacturer_description' );
    </script>
{% endblock %}