{% extends 'adminbase.html.twig' %}
{% block title %} Ajout d'un vaisseau {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold font-grey-gallery uppercase"> Formulaire d'ajout d'un vaisseau </span>
                        <span class="caption-helper">300i, Avenger Titan...</span>
                    </div>
                    <div class="tools">
                        <a href="" class="fullscreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#tab_2_1" data-toggle="tab" aria-expanded="true"> Informations </a>
                        </li>
                        <li class="">
                            <a href="#tab_2_2" data-toggle="tab" aria-expanded="false"> Meta </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_2_1">

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                            <div class="form-group" id="name-manufacturer">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                                {% if not form.name.vars.valid %}
                                    {% for error in form.name.vars.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            {#Manufacturer#}
                            <div class="form-group">
                                {{ form_label(form.manufacturer) }}
                                {{ form_widget(form.manufacturer) }}
                                {% if not form.manufacturer.vars.valid %}
                                    {% for error in form.manufacturer.vars.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {#Description#}
                            <div class="form-group">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                                {% if not form.description.vars.valid %}
                                    {% for error in form.description.vars.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <h2>Mesure</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#Length#}
                                        <div class="form-group">
                                            {{ form_label(form.length) }}
                                            {{ form_widget(form.length) }}
                                            {% if not form.length.vars.valid %}
                                                {% for error in form.length.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {#Width#}
                                        <div class="form-group">
                                            {{ form_label(form.width) }}
                                            {{ form_widget(form.width) }}
                                            {% if not form.width.vars.valid %}
                                                {% for error in form.width.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#Height#}
                                        <div class="form-group">
                                            {{ form_label(form.height) }}
                                            {{ form_widget(form.height) }}
                                            {% if not form.height.vars.valid %}
                                                {% for error in form.height.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {#Mass#}
                                        <div class="form-group">
                                            {{ form_label(form.mass) }}
                                            {{ form_widget(form.mass) }}
                                            {% if not form.mass.vars.valid %}
                                                {% for error in form.mass.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Structure</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#Cargo#}
                                        <div class="form-group">
                                            {{ form_label(form.cargo) }}
                                            {{ form_widget(form.cargo) }}
                                            {% if not form.cargo.vars.valid %}
                                                {% for error in form.cargo.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {#SCMSpeed#}
                                        <div class="form-group">
                                            {{ form_label(form.scmspeed) }}
                                            {{ form_widget(form.scmspeed) }}
                                            {% if not form.scmspeed.vars.valid %}
                                                {% for error in form.scmspeed.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#AfterburnerSpeed#}
                                        <div class="form-group">
                                            {{ form_label(form.afterburnerspeed) }}
                                            {{ form_widget(form.afterburnerspeed) }}
                                            {% if not form.afterburnerspeed.vars.valid %}
                                                {% for error in form.afterburnerspeed.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {#MinCrew#}
                                        <div class="form-group">
                                            {{ form_label(form.mincrew) }}
                                            {{ form_widget(form.mincrew) }}
                                            {% if not form.mincrew.vars.valid %}
                                                {% for error in form.mincrew.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#MaxCrew#}
                                        <div class="form-group">
                                            {{ form_label(form.maxcrew) }}
                                            {{ form_widget(form.maxcrew) }}
                                            {% if not form.maxcrew.vars.valid %}
                                                {% for error in form.maxcrew.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Manœuvre</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#PitchMax#}
                                        <div class="form-group">
                                            {{ form_label(form.pitchmax) }}
                                            {{ form_widget(form.pitchmax) }}
                                            {% if not form.pitchmax.vars.valid %}
                                                {% for error in form.pitchmax.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {#Yawmax#}
                                        <div class="form-group">
                                            {{ form_label(form.yawmax) }}
                                            {{ form_widget(form.yawmax) }}
                                            {% if not form.yawmax.vars.valid %}
                                                {% for error in form.yawmax.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#RollMax#}
                                        <div class="form-group">
                                            {{ form_label(form.rollmax) }}
                                            {{ form_widget(form.rollmax) }}
                                            {% if not form.rollmax.vars.valid %}
                                                {% for error in form.rollmax.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {#X-axis#}
                                        <div class="form-group">
                                            {{ form_label(form.xaxis) }}
                                            {{ form_widget(form.xaxis) }}
                                            {% if not form.xaxis.vars.valid %}
                                                {% for error in form.xaxis.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {#Y-axis#}
                                        <div class="form-group">
                                            {{ form_label(form.yaxis) }}
                                            {{ form_widget(form.yaxis) }}
                                            {% if not form.yaxis.vars.valid %}
                                                {% for error in form.yaxis.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {#Z-axis#}
                                        <div class="form-group">
                                            {{ form_label(form.zaxis) }}
                                            {{ form_widget(form.zaxis) }}
                                            {% if not form.zaxis.vars.valid %}
                                                {% for error in form.zaxis.vars.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true"></button>
                                                        {{ error.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {#<div class="form-group">#}
                            {#{{ form_label(form.image) }}#}
                            {#{{ form_widget(form.image) }}#}
                            {#{% if not form.image.vars.valid %}#}
                            {#{% for error in form.image.vars.errors %}#}
                            {#<div class="alert alert-danger alert-dismissable">#}
                            {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>#}
                            {#{{ error.message }}#}
                            {#</div>#}
                            {#{% endfor %}#}
                            {#{% endif %}#}
                            {#</div>#}

                            <input type="submit" class="btn blue-hoki" value="Ajouter">

                        </div>
                        <div class="tab-pane fade" id="tab_2_2">

                            {#<div class="row">#}
                            {#<div class="col-md-6">#}
                            {#<h3>SEO Meta</h3>#}
                            {#<div class="form-group">#}
                            {#{{ form_label(form.metatitle) }}#}
                            {#{{ form_widget(form.metatitle) }}#}
                            {#{% if not form.metatitle.vars.valid %}#}
                            {#{% for error in form.metatitle.vars.errors %}#}
                            {#<div class="alert alert-danger alert-dismissable">#}
                            {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>#}
                            {#{{ error.message }}#}
                            {#</div>#}
                            {#{% endfor %}#}
                            {#{% endif %}#}
                            {#</div>#}

                            {#<div class="form-group">#}
                            {#<label for="url-seo">URL Format</label>#}

                            {#<div class="preview-url-slug"></div>#}

                            {#</div>#}

                            {#<div class="form-group">#}
                            {#{{ form_label(form.metadescription) }}#}
                            {#{{ form_widget(form.metadescription) }}#}
                            {#{% if not form.metadescription.vars.valid %}#}
                            {#{% for error in form.metadescription.vars.errors %}#}
                            {#<div class="alert alert-danger alert-dismissable">#}
                            {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>#}
                            {#{{ error.message }}#}
                            {#</div>#}
                            {#{% endfor %}#}
                            {#{% endif %}#}
                            {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                            {#<h3>Résultat</h3>#}
                            {#<div class="preview-title-seo"></div>#}
                            {#<div class="url">#}
                            {#http://monurl.com/fabricant/<span class="preview-url-slug"></span>#}
                            {#</div>#}
                            {#<div class="preview-description-seo"></div>#}
                            {#</div>#}
                            {#</div>#}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
