{% extends 'adminbase.html.twig' %}
{% block title %} Liste des vaisseaux {% endblock %}
{% block patetitle %} Liste des vaisseaux {% endblock %}

{% block body %}

    <div class="row">

        <table class="table">

            <!--Table head-->
            <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>Nom</th>
                <th>Description</th>
                <th>Edition</th>
                <th>Suppression</th>
                <th>Voir</th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>

            {% for ship in ships %}
                <tr>
                    <td>{{ ship.name }}</td>
                    <td>{{ ship.description|truncate(30) }}</td>
                    <td><a href="" class="btn btn-primary">Editer</a></td>
                    <td><a href="" class="btn btn-danger">Supprimer</a></td>
                    <td><a href="" class="btn green-meadow">Voir</a></td>
                </tr>
            {% endfor %}

            </tbody>
            <!--Table body-->
        </table>
    </div>

{% endblock %}

