{% extends 'adminbase.html.twig' %}
{% block title %} Liste des frabricants {% endblock %}
{% block patetitle %} Liste des fabricants {% endblock %}

{% block body %}

    <div class="row">

        <table class="table">

            <!--Table head-->
            <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>Nom</th>
                <th>Description</th>
                <th>Edition</th>
                <th>Suppression</th>
                <th>Voir</th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>

            {% for manufacturer in manufacturers %}
                <tr>
                    <td>{{ manufacturer.name }}</td>
                    <td>{{ manufacturer.description|truncate(30) }}</td>
                    <td><a href="{{ path('editManufacturer', { 'slug': manufacturer.slug }) }}" class="btn btn-primary">Editer</a></td>
                    <td><a href="{{ path('deleteManufacturer', { 'id': manufacturer.id }) }}" class="btn btn-danger">Supprimer</a></td>
                    <td><a href="{{ path('showManufacturer', { 'slug': manufacturer.slug }) }}" class="btn green-meadow">Voir</a></td>
                </tr>
            {% endfor %}

            </tbody>
            <!--Table body-->
        </table>
    </div>

{% endblock %}

