{% extends 'adminbase.html.twig' %}
{% block title %}
    {{ manufacturer.name }}
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('admin/assets/pages/css/profile.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block patetitle %} {{ manufacturer.name }} {% endblock %}
{% block body %}

    <div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-manufacturer">
                        {% if manufacturer.image != null %}
                            <img src="{{ asset('uploads/' ~ manufacturer.image.alt) }}" class="img-responsive">
                        {% else %}
                            Pas d'image
                        {% endif %}
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> {{ manufacturer.name }} </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <a href="{{ path('editManufacturer', { 'slug': manufacturer.slug }) }}" class="btn btn-circle green btn-sm">Edition</a>
                        <a href="{{ path('deleteManufacturer', { 'id': manufacturer.id }) }}" class="btn btn-circle red btn-sm">Supprimer</a>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="#">
                                    <i class="fa fa-rocket"></i> Ajouter un vaisseaux </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->

            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Description</span>
                                    <span class="caption-helper hide">weekly stats...</span>
                                </div>

                            </div>
                            <div class="portlet-body">
                                <div class="row number-stats margin-bottom-30">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {% autoescape false %}
                                            {{ manufacturer.description }}
                                        {% endautoescape %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PORTLET -->
                    </div>

                </div>

            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
    </div>
{% endblock %}



